.carousel-container-eikonica {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.carousel-eikonica {
  display: flex;
  width: 300%;
  animation: carousel-animation 11s infinite linear;
  white-space: nowrap;
}

.carousel-inner-eikonica {
  display: flex;
  width: 100%;
}

.carousel-item-eikonica {
  flex: 0 0 calc(33.33% - 300px);
  margin-right: 300px;
}

.carousel-item-eikonica img {
  width: 100%;
}

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + (33.33% - 10px)));
  }
}

// .carousel-partenaires-container {
//   width: 100%;
//   overflow: hidden;
//   margin-top: 20px;
// }

// .carousel-partenaires {
//   display: flex;
//   width: 100%; /* 6 éléments * 100% */
//   animation: carousel-animation 6s infinite linear;
// }

// .carousel-inner-partenaires {
//   display: flex;
//   justify-content: space-between; /* Ou une autre valeur selon vos préférences */
//   width: 100%;
// }

// .carousel-item-partenaires {
//   flex: 0 0 16.66%; /* 100% divisé par 6 éléments */
// }

// @keyframes carousel-animation {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }
