.carousel-partenaires {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: white;
}

.footer-contact {
  margin-top: 77px;
  text-align: center;
}

.footer-copyright {
  padding-top: 70px;
}

.footer-copyright p {
  padding-top: 10px;
  margin-bottom: 30px;
  margin-bottom: 66px;
}

a {
  text-decoration: none;
}
