.introduction {
  background-color: white;
}

.introduction p {
  font-size: 25px;
  text-align: justify;
  padding-top: 165px;
  padding-bottom: 165px;
}

.introduction img {
  width: 100%;
  height: auto;
}
