nav {
  img {
    height: 70px;
  }
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  a {
    padding: 20px;
  }
}

.nav-bar {
  position: fixed;
  padding: 20px;
  background-color: #e3e0f0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
