// .section-accordion {
//   padding-top: 185px;
//   padding-bottom: 185px;
// }

// .buttons-accordion {
//   background-color: white;
// }

.section-accordion {
  background-color: white;
  margin-top: 185px;
  margin-bottom: 185px;
}

.accordion-header {
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-size: 100px;
  font-family: FamiljenGrotesk-Italic;
  margin-left: 140px;
  margin-right: 140px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.fa-chevron-right:hover {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
s .accordion-item.active .accordion-header i::after {
  transform: translateY(-50%) rotate(180deg);
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: white;
  padding-left: 200px;
}

.accordion-content.show {
  display: block;
}

.section-accordion h1 {
  font-family: FamiljenGrotesk-Semibold;
  font-size: 50px;
  margin-left: 200px;
  margin-top: 140px;
  margin-bottom: 50px;
}

.section-accordion p {
  align-items: flex-start;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 25px;
  margin-top: 70px;
  line-height: 50px;
}

.section-accordion h3 {
  margin-left: 500px;
  margin-top: -90px;
  font-size: 28px;
  font-family: FamiljenGrotesk-Regular;
}

.last-p {
  padding-bottom: 150px;
}

h4 {
  font-size: 25px;
  font-family: FamiljenGrotesk-Bold;
  margin-top: 100px;
  margin-left: 200px;
}

i {
  font-size: 25px;
  font-family: FamiljenGrotesk-BoldItalic;
  margin-left: 200px;
}

.content-expositions p {
  text-align: justify;
  margin-right: 350px;
}

h5 {
  font-size: 25px;
  font-family: FamiljenGrotesk-Bold;
  margin-top: 70px;
  margin-left: 200px;
}

.content-infos p {
  text-align: justify;
  margin-right: 350px;
}

.accordion-content a:hover {
  color: rgb(0, 0, 0);
}

#arrow-programme {
  font-size: 60px;
  // margin-right: 100px;
}

.accordion-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.accordion {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.video-container {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.full-width-video {
  width: 100%;
  height: auto;
}

.carousel-partenaires {
  width: 100px;
  padding-left: 400px;
}

.carousel-partenaires {
  img {
    height: 70px;
  }
}
